@import "tailwindcss";

.pacifico {
  font-family: var(--font-pacifico);
}

.lobster {
  font-family: var(--font-lobster);
}

.rowdies {
  font-family: var(--font-rowdies);
}
.saira {
  font-family: var(--font-saira);
}